.node{
    display: flex;
    flex-direction: row; 
    height: 40px; 
    width: 50%;
    padding: 3px; 
    border: 1px solid black; 
    border-radius: 2px; 
    vertical-align: middle
}
.topButtons{
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.nodeButtons{
    margin-left: auto
}
ul{
    margin-bottom: 0;
}
.childrenNode{
    padding-left: 25px;
    border-left: 1px solid black;
}
.topButtons > button{
    width: 30%;
}
